html, html body, .gamebg { width: 100%; height: 100%; }
html body, .gamebg body { margin: 0; }

p { margin: 0; padding: 0; }

.gamebg { background: url(../img/game1.png) 50% 0px no-repeat; background-size: 200% 100%; }

#gamecon { width: 17.5rem; height: 17.5rem; margin: 0 auto; background: rgba(0, 0, 0, 0.5); border-radius: 0.625rem; position: relative; }

.grid, .cell { width: 3.75rem; height: 3.75rem; border-radius: 0.375rem; }

.grid { float: left; margin: 0.5rem 0 0 0.5rem; background-color: #ccc0b3; opacity: 0.4; }

.cell { text-align: center; line-height: 3.75rem; color: #776e65; font-size: 1.75rem; position: absolute; }

.gamebg > p { width: 17.5rem; margin: 0 auto; font-weight: bold; font-size: 1.25rem; padding: 0.9375rem 0; }

#c00, #c01, #c02, #c03 { top: 0.5rem; }

#c00, #c10, #c20, #c30 { left: 0.5rem; }

#c10, #c11, #c12, #c13 { top: 4.75rem; }

#c01, #c11, #c21, #c31 { left: 4.75rem; }

#c20, #c21, #c22, #c23 { top: 9rem; }

#c02, #c12, #c22, #c32 { left: 9rem; }

#c30, #c31, #c32, #c33 { top: 13.25rem; }

#c03, #c13, #c23, #c33 { left: 13.25rem; }

.n2 { background-color: #eee3da; }

.n4 { background-color: #ede0c8; }

.n8 { background-color: #f2b179; }

.n16 { background-color: #f59563; }

.n32 { background-color: #f67c5f; }

.n64 { background-color: #f65e3b; }

.n128 { background-color: #edcf72; }

.n256 { background-color: #edcc61; }

.n512 { background-color: #9c0; }

.n1024 { background-color: #33b5e5; }

.n2048 { background-color: #09c; }

.n4096 { background-color: #a6c; }

.n8192 { background-color: #93c; }

.n16384 { background-color: #000; }

.n8, .n16, .n32, .n64, .n128, .n256, .n512, .n1024, .n2048, .n4096, .n8192, .n16384 { color: #fff; }

.n1024, .n2048, .n4096, .n8192 { font-size: 1.5rem; }

.n16384 { font-size: 1.25rem; }

#gameOver, .gamePass { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; }

.gamePass { background-color: rgba(0, 0, 0, 0.5); }

#gameOver div { width: 100%; height: 100%; background-color: #555; opacity: 0.5; }

#gameOver > p { width: 12.5rem; height: 6.25rem; position: absolute; border-radius: 0.625rem; top: 9.375rem; left: 50%; margin-left: -6.25rem; border: 1px solid #edcf72; line-height: 1.6em; text-align: center; background-color: #fff; }

a.button { display: inline-block; width: 150px; padding: 0.625rem; background-color: orangered; border-radius: 0.375rem; color: #fff; }

.gamePass div { width: 12.5rem; height: 12.5rem; background: violet; position: absolute; top: 35%; left: 50%; margin: -6.25rem 0 0 -6.25rem; text-align: center; border-radius: 0.625rem; box-sizing: border-box; padding-top: 2.1875rem; }
.gamePass div p { width: 100%; line-height: 3.125rem; font-size: 1.875rem; color: red; font-weight: bold; }
.gamePass div span { display: inline-block; font-size: 1.25rem; padding: 0.625rem 0; }
.gamePass div button { width: 3.125rem; height: 2.5rem; outline: none; border: none; background: orangered; border-radius: 0.625rem; color: #fff; font-size: 1.25rem; margin: 0 0.625rem; }

.controls { display: flex; flex-direction: column; align-items: center; }
.controls button { width: 12.5rem; height: 3.125rem; background: orangered; color: #fff; text-shadow: 2px 3px 3px #000; font-size: 1.5rem; font-weight: bold; border: none; margin: 0.625rem; border-radius: 0.5rem; }

/*# sourceMappingURL=game.css.map */
